<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQCb45XZM0nyw3R23l6SfgGEkqu5dSR5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>443076891375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.donmanuel.comprobantes</string>
	<key>PROJECT_ID</key>
	<string>comprobantes-9d044</string>
	<key>STORAGE_BUCKET</key>
	<string>comprobantes-9d044.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443076891375:ios:248bc6a02552f4fa07811a</string>
</dict>
</plist>